// @font-face {
//   font-family: "Segoe UI";
//   src: url("../assets/fonts/SegoeUI-Light.eot");
//   src: url("../assets/fonts/SegoeUI-Light.eot?#iefix")
//       format("embedded-opentype"),
//     url("../assets/fonts/SegoeUI-Light.woff2") format("woff2"),
//     url("../assets/fonts/SegoeUI-Light.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/SegoeUI-Bold.eot");
  src: url("../assets/fonts/SegoeUI-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/SegoeUI-Bold.woff2") format("woff2"),
    url("../assets/fonts/SegoeUI-Bold.woff") format("woff");
  // font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Segoe UI";
//   src: url("../assets/fonts/SegoeUI-Italic.eot");
//   src: url("../assets/fonts/SegoeUI-Italic.eot?#iefix")
//       format("embedded-opentype"),
//     url("../assets/fonts/SegoeUI-Italic.woff2") format("woff2"),
//     url("../assets/fonts/SegoeUI-Italic.woff") format("woff");
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/SegoeUI.eot");
  src: url("../assets/fonts/SegoeUI.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/SegoeUI.woff2") format("woff2"),
    url("../assets/fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 1.4rem;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}
